main {
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
	width: 800px;
}

.inner {
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.inner-one {
	width: 50%;
	height: 200px;
	background-color: green;
}

.inner-two {
	width: 50%;
	height: 200px;
	background-color: blue;
}

.inner-three {
	width: 33.33%;
	height: 300px;
	background-color: gray;
}

.inner-four {
	width: 33.33%;
	height: 300px;
	background-color: black;
}

.inner-five {
	width: 33.33%;
	height: 300px;
	background-color: orange;
}