.header {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	background-color: gray;
	height: 75px;
	position: fixed;
	width: 100%;
}

.icon {
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 60px;
}

nav div ul {
	position: absolute;
	left: 100px;
	top: 15px;
}

nav ul li {
	display: inline;
	list-style: none;
}

nav ul li::after {
	content: "|";
	margin-left: 5px;
}

nav ul li a:hover {
	color: black;
}

body {
	background-image: url("../images/outerspace_landscape.jpeg");
	background-repeat: no-repeat;
	background-size: cover;	
}

main {
	min-width: 1000px;
	max-width: 2000px;
	padding-top: 90px;
}

div.green-border {
	border: 10px dotted green;
	width: 600px;
	height: 300px;
	position: relative;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
}

.spacecat {
	left: 200px;
	top: 150px;
}

.spacedog {
	right: 200px;
	bottom: 150px;
}





